<div class="leftside-content">

    <div class="leftside-header">
        <img src="../../assets/img/workspace-logo.png">
        <h2>Dev Academy</h2>
        <img src="../../assets/img/edit.png">
    </div>

    <div class="channel-selection">
        <img (click)="toggleChannelDropdown()" src="../../assets/img/channels.png">
        <img src="../../assets/img/add.png">
    </div>

    <div *ngIf="channelDropdown" class="dropdown-leftside">

        <div *ngFor="let channel of this.channels" (click)="setCurrentChannel(channel.channelName)"  class="channel">
            <img src="../../assets/img/tag.png"> 
            <p>{{ channel.channelName }}</p>
        </div>

        <div class="addMoreChannels">
            <img src="../../assets/img/add_circle.png">
            <p>Channel hinzufügen</p>
        </div>

    </div>

    <div class="dm-selection">
        <img (click)="toggleDmDropdown()" src="../../assets/img/directmessages.png">
    </div>

    <div *ngIf="dmDropdown" class="dropdown-leftside">

        <div *ngFor="let colleague of this.colleagues" class="dm">
            <img src="../../assets/img/{{ colleague.picture }}">
            <p>{{ colleague.name }}</p>
        </div>

    </div>

</div>
