.leftside-content {
    background-color: white;
    min-height: 83vh;
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: calc(100% - 3rem);
}

.leftside-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    h2 {
        margin: 0;
    }

    img:last-child {
        &:hover {
            cursor: pointer;
            background-color: rgb(236, 238, 254);
            border-radius: 100%;
        }
    }
}

.channel-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    img {
        &:hover {
            cursor: pointer;
        }
    }

    img:last-child {
        &:hover {
            background-color: rgb(236, 238, 254);
            border-radius: 100%;
        }
    }
}

.dropdown-leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    margin-top: 1rem;
}

.channel {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;

    p {
        margin: 0;
        padding-left: 0.75rem;
        font-size: 16px;
    }

    &:hover {
        background-color: rgb(236, 238, 254);
        border-radius: 2rem;
        cursor: pointer;
        color: rgb(68, 77, 242);
    }
}

.addMoreChannels {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 0rem;

    &:hover {
        cursor: pointer;
        background-color:rgb(236, 238, 254);
        border-radius: 2rem;

        p {
            color: rgb(68, 77, 242);
        }
    }

    p {
        margin: 0;
        margin-left: 0.75rem;
    }

}

.dm-selection {
    margin-top: 2rem;

    img {
        cursor: pointer;
    }
}

.dm {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    &:hover {
        background-color:rgb(236, 238, 254);
        border-radius: 2rem;
        cursor: pointer;
    }

    p {
        margin: 0;
        padding-left: 0.75rem;
        font-size: 16px;
    }
}

.place-channels {
    overflow: scroll;
    height: 13rem;
    width: 100%;
}

.place-colleagues {
    overflow: scroll;
    width: 100%;
    height: 19rem;
}