.main-page-container {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 238, 254);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 6rem);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
}

.search-dashboard {
    width: 45%;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    padding-left: 2.5rem;
    background: url('../../assets/img/search.png') no-repeat 95% white;
    &:focus {
        outline: none;
    }
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    span {
        font-size: 30px;
        font-weight: 500;
        margin: 0;
    }

    img {
        &:hover {
            cursor: pointer;
        }
        z-index: 2;
    }
}

.dashboard {
    margin-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 4rem);
    display: flex;
    justify-content: space-between;
}

.menu-container {
    position: absolute;
    top: 0;
    background-color: rgb(236, 238, 254, 0.35) ;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.menu {
    position: absolute;
    top: 8rem;
    right: 2rem;
    height: 10rem;
    width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

    div {
        font-size: 20px;
        font-weight: 500;
        width: 12rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;

        &:hover {
            background-color: rgb(236, 238, 254);
            cursor: pointer;
            color: rgb(68, 77, 242);
        }
    }
}

.profile {
    position: absolute;
    top: 8rem;
    right: 2rem;
    height: 34rem;
    width: 28rem;
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 6rem);
    padding-left: 3rem;
    padding-right: 3rem;

    p {
        font-size: 22px;
        font-weight: 600;
        margin: 0;
    }

    img {
        cursor: pointer;
    }
}

.place-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.name-and-edit {
    width: calc(100% - 6rem);
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }

    p:first-child {
        font-size: 24px;
        font-weight: 600;
    }

    p:last-child {
        color:rgb(68, 77, 242);
        font-size: 16px;
        &:hover {
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.place-email {
    width: calc(100% - 6rem);
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        padding-left: 1.5rem;
        font-size: 16px;
    }
}

.change-mail {
    display: flex;
    align-items: center;

    input {
        border-radius: 2rem;
        padding: 0.4rem;
        margin-left: 1rem;
    }

    button {
        border-radius: 2rem;
        border: none;
        background-color: rgb(68, 77, 242);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        margin-left: 0.5rem;
        &:hover {
            cursor: pointer;
            filter:brightness(1.15)
        }
    }
}

.alert-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5rem;
}

.changedMailAlert {
    background-color: rgb(68, 77, 242);
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    z-index: 2;
}

app-center-content {
    width: 45%;
}

app-leftside {
    width: 25%;
}

app-rightside {
    width: 28%;
}

.participants-shown {
    position: absolute;
    width: 21rem;
    height: 22rem;
    right: 34%;
    top: 13.3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.5rem;
    z-index: 3;
}

.participants-shown-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 0;
        font-size: 24px;
    }

    img {
        cursor: pointer;
    }
}

.participants-shown-container {
    position: absolute;
    top: 0;
    background-color: rgb(236, 238, 254, 0.35) ;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.participants-list {
    height: 16rem;
    margin-top: 1.5rem;
    padding-left: 1rem;
    overflow: scroll;
}

.single-participant {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    p {
        margin: 0;
        margin-left: 2rem;
        font-size: 16px;
    }
}

.addParticipant-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    padding: 0.25rem;

    &:hover {
        background-color: rgb(236, 238, 254);
        border-radius: 2rem;
        cursor: pointer;

        p {
            color:rgb(68, 77, 242);
        }
    }

    p {
        margin: 0;
    }
}

.add-participants {
    position: absolute;
    width: 22rem;
    right: 34%;
    top: 13.3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    z-index: 3;

    div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin: 0;
            font-size: 24px;
        }

        img {
            cursor: pointer;
        }
    }

    input {
        border-radius: 2rem;
        padding: 1rem;
        border: 1px solid rgb(68, 77, 242);

        &:focus {
            outline: none;
        }
    }

    div:last-child {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color:rgb(68, 77, 242);
            border-radius: 2rem;
            border: none;

            &:hover {
                cursor: pointer;
                filter: brightness(1.2);
            }
        }
    }
}
