<div class="main-page-container">

    <div class="header">
        <img src="../../assets/img/logo.png">
        <input class="search-dashboard" type="text" placeholder="Development-Academy durchsuchen">
        <div class="profile-container">
            <span>Test Nutzer</span>
            <img src="../../assets/img/profile1.png">
            <img src="../../assets/img/keyboard_arrow_down.png">
        </div>
    </div>

    <div class="dashboard">
        <div class="leftside-content">
            <div class="leftside-header">
                <img src="../../assets/img/workspace-logo.png">
                <h2>Development-Academy</h2>
                <img src="../../assets/img/edit.png">
            </div>
        </div>

        <div class="center-content">

        </div>

        <div class="rightside-content">

        </div>
    </div>

</div>
