<div class="main-page-container">

    <div class="header">
        <img src="../../assets/img/logo.png">
        <input class="search-dashboard" type="text" placeholder="Development-Academy durchsuchen">
        <div class="profile-container">
            <span>{{ currentUser }}</span>
            <img (click)="toggleProfileMenu()" src="../../assets/img/profile1.png">
            <img (click)="toggleProfileMenu()" src="../../assets/img/keyboard_arrow_down.png">
        </div>
    </div>

    <div class="dashboard">
        <app-leftside></app-leftside>
        <app-center-content></app-center-content>
        <app-rightside></app-rightside>
    </div>

</div>

<div (click)="toggleProfileMenu()" *ngIf="profileMenu" class="profileMenu-container">
    <div class="profileMenu">
        <div>Profil</div>
        <div (click)="logOut()">Log out</div>
    </div>
</div>
