.rightside-content {
    width: calc(100% - 3rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    background-color: white;
    height: 83vh;
    border-radius: 2rem;
}