.rightside-content {
    width: 100%;
    background-color: white;
    height: 83vh;
    border-radius: 2rem;
    padding-bottom: 1.5rem;
}

.rightside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 5.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

    p {
        margin: 0;
        font-size: 22px;
        font-weight:600
    }

    img {
        cursor: pointer;
    }
}

.place-clickedMessage {
    width: 100%;
    height: 67%;
    padding-top: 1rem;
}

.clickedMessage-container {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 2rem;
    height: 8rem;
    margin-bottom: 1rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    &:hover {
        cursor: pointer;
        background-color: rgb(236, 238, 254);

        .message {
            background-color: white;
        }
    }
}

.clickedMessage-infos {
    div:first-child {
        margin-bottom: 0.5rem;
    }
    div:last-child {
        color:rgb(68, 77, 242);
        width: 90%;
        &:hover {
            font-weight: 600;
        }
    }
}

.message {
    background-color: rgb(236, 238, 254);
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
}

.parting-line {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    color:rgb(176, 177, 182);
    hr {
        width: 30%;
        border: 1px solid rgb(194, 195, 204);
    }
}

.place-responses {
    height: 21.5rem;
    overflow-y: scroll;
    padding-top: 1rem;
}

.write-message {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    height: 6.5rem;
    border: 0.5px solid rgb(68, 77, 242);
    border-radius: 2rem;
    position: relative;

    input {
        border: none;
        width: 100%;
        height: 3rem;
    }

    input:focus {
        outline: none;
    }

    img {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        
        &:hover {
            cursor: pointer;
            filter:brightness(1.4)
            
        }
    }
}

::-webkit-scrollbar {
    display: none;
}