<div class="center-content">

    <div class="center-content-header">

        <div class="header-leftside">
            <img src="../../assets/img/tag.png">
            <p>{{ currentChannel }}</p>
            <img src="../../assets/img/keyboard_arrow_down.png">
        </div>

        <div class="header-rightside">
            <div class="amountOfMembers">
                <img src="../../assets/img/small_avatar.png">
                <p>3</p>
            </div>
            <img src="../../assets/img/add_members_button.png">
        </div>

    </div>

    <div class="place-messages">
        <div *ngFor="let message of messages" class="message-container">
            <div class="picture-user">
                <img src="../../assets/img/big_avatar4.png">
                <p>{{ message[0] }}</p>
            </div>

            <div class="message-infos">
                <div class="message"> {{ message[1] }} </div>
                <div class="reactions"> 2 Antworten </div>
            </div>
        </div>
    </div>

</div>