<div class="center-content">

    <div class="center-content-header">

        <div class="header-leftside">
            <img src="../../assets/img/tag.png">
            <p>{{ currentChat }}</p>
            <img src="../../assets/img/keyboard_arrow_down.png">
        </div>

        <div class="header-rightside">
            <div class="amountOfMembers">
                <img src="../../assets/img/small_avatar.png">
                <p>3</p>
            </div>
            <img src="../../assets/img/add_members_button.png">
        </div>

    </div>

    <div class="place-messages">
        <div *ngFor="let message of messages" class="message-container">
            <div class="picture-user">
                <img src="../../assets/img/big_avatar1.png">
                <p>{{ message['name'] }}</p>
            </div>

            <div class="message-infos">
                <div class="message"> {{ message['message'] }} </div>
                <div>{{ message['date'] }}   {{ message['time'] }}</div>
            </div>
        </div>
    </div>

    <div class="write-message">
        <Input [(ngModel)]="newMessage" name="newMessage" ngDefaultControl placeholder="Nachricht an #{{ currentChat }}">
        <img (click)="sendNewMessage()" src="../../assets/img/send.png">
    </div>

</div>